<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="erp.login.loginMapperr">

   <update id="arrive" parameterType="String">
   		update indolence_date set arrive_time=SYSDATE where emp_id=#{emp_id}
   </update>

   <update id="leave" parameterType="String">
   		update indolence_date set leave_time=SYSDATE where emp_id=#{emp_id}
   </update>
   
   
</mapper>


