<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="erp.acc.mapper.MoneyManageMentMapper">

	<!-- MoneyManageMent CRUD START -->
	<insert id="moneyManageMentInsert" parameterType="MoneyManagement">
		insert into
		cash_trade (
		typelist, statement_id, dept_id, proj_id, account_number,
		sums, charge, remarks, customer_id
		) values(
		#{typelist}, #{statement_id},
		#{dept_id},
		#{proj_id}, #{account_number}, #{sums}, #{charge},
		#{remarks}, #{customer_id}
		)
	</insert>

	<select id="moneyManageMentList" resultType="MoneyManagement">
		SELECT * FROM
		cash_trade
	</select>

	<select id="moneyPlanAllList" resultType="MoneyPlanTimeSet">
		SELECT * FROM funds_plan where typelist = #{value}
	</select>
	<select id="moneyPlanOne" resultType="MoneyPlanTimeSet">
		select * from funds_plan where funds_id = #{value}
	</select>
	<!-- MoneyManageMent CRUD END -->
	
</mapper>


