<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="erp.acc.mapper.MoneyPlanMapper">

	<!-- MoneyPlan CRUD START -->
	<insert id="moneyPlanInsert" parameterType="MoneyPlan">
		insert into funds_plan (
		typelist, funds_id, repeat_unit, start_date, period, dept_id, proj_id,
		account_number, diagnosis_number, customer_id, sums, remarks
		) values(
		#{typelist}, #{funds_id}, #{repeat_unit},
		#{start_date}, #{period}, #{dept_id}, #{proj_id}, #{account_number}, #{diagnosis_number}, #{customer_id}, #{sums}, #{remarks}
		)
	</insert>

	<select id="moneyPlanList" resultType="MoneyPlan">
		SELECT * FROM funds_plan
	</select>

	<update id="moneyPlanUpdate">
		UPDATE funds_plan SET typelist = #{typelist},
		funds_id = #{funds_id}, repeat_unit = #{repeat_unit},
		start_date =#{start_date}, period = #{period}, account_number = #{account_number}, diagnosis_number = #{diagnosis_number},
		customer_id = #{customer_id}, sums = #{sums}, remarks = #{remarks}
		WHERE funds_id = #{funds_id}
	</update>

	<delete id="moneyPlanDelete">
		DELETE FROM funds_plan
		WHERE funds_id = #{funds_id}
	</delete>
	<!-- MoneyPlan CRUD END -->

</mapper>