<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="erp.acc.mapper.Statement">

	<!-- 매출보고서 -->
	<select id="StatementPromissorySalesList" resultType="Statements">
		SELECT * FROM PromissorySalesList
		
	</select>
	<select id="StatementCashSalesList" resultType="Statements">
		SELECT *FROM CashSalesList
	</select>


	<!-- 매입보고서 -->
	<select id="StatementCashPurchaseList" resultType="Statements">
		SELECT *FROM CashPurchaseList
	</select>
	<select id="StatementPromissoryPurchaseList" resultType="Statements">
		SELECT *FROM PromissoryPurchaseList
	</select>
	
	<select id="StatementAllList" resultType="Statements">
	
	</select>
</mapper>