<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="erp.acc.mapper.Statement">

	<select id="StatementPromissorySalesList" resultType="Statements">
		SELECT DISTINCT n.red_date, c.customer_name, n.sums, n.charge, total,
		n.remarks FROM note_ledger N, customer c WHERE n.customer_id =
		c.customer_id
		AND n.state = '지급' AND n.typelist = '지급어음' order by n.red_date asc
	</select>
	<select id="StatementCashSalesList" resultType="Statements">

		SELECT DISTINCT cash.red_date, c.customer_name, cash.sums, cash.charge,
		total, cash.remarks FROM cash_trade cash, customer c WHERE
		cash.customer_id = c.customer_id AND cash.typelist = '매출' order by
		cash.red_date asc

	</select>
</mapper>