<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>출장보고서</h1>
	<table border="1px">
		<tr>
			<th colspan="1">부서</th>
			<td colspan="3">hoho</td>
			<th colspan="1">직위</th>
			<td colspan="3">hoho</td>
			<th colspan="1">성명</th>
			<td colspan="3">hoho</td>
		</tr>
		<tr>
			<th colspan="2">출장지</th>
			<td colspan="4">hoho</td>
			<th colspan="2">일정</th>
			<td colspan="4">hoho</td>
		</tr>
		<tr>
			<th colspan="2">주요면담자명</th>
			<td colspan="4">hoho</td>
			<th colspan="2">출발예정일</th>
			<td colspan="4">hoho</td>
		</tr>
		<tr>
			<th colspan="2">주요면담자명</td>
			<td colspan="10">hoho</td>
		</tr>
		<tr>
			<th colspan="12">출장 업무 내용</td>
		</tr>
		<tr class="height-lg">
			<td colspan="12">hoho</td>
		</tr>
		<tr class="height-sm">
			<td colspan="12">
					2016년 &nbsp;&nbsp;월 &nbsp;&nbsp;일 &nbsp;&nbsp;요일
					작성자 : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(인)</td>
		</tr>
	</table>
</body>
</html>